
@{
    ViewBag.Title = "Index";
}

<h2>Zarejestruj</h2>

<table style="width:100%;">
    <tr><td>Nazwa</td><td><input id="Name" type="text" /></td></tr>

    <tr><td>Login</td><td><input id="Login" type="text" /></td></tr>

    <tr><td>Hasło</td><td><input id="Password" type="password" /></td></tr>
</table>

@Html.ActionLink("Utwórz konto", "Create", new { }, new { @class = "btn btn-primary", id = "btnCheckout" })